{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transport edit</h1>

    {{ form_start(edit_form) }}   
        
        <table class="table table-striped table-hove">
            <tbody>                
                <tr>
                    <td>{{ form_label(edit_form.transit) }}</td>
                    <td>{{ form_widget(edit_form.transit) }}</td>
                    <td>{{ form_errors(edit_form.transit) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.comission) }}</td>
                    <td>{{ form_widget(edit_form.comission) }}</td>
                    <td>{{ form_errors(edit_form.comission) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.dateTransport) }}</td>
                    <td>{{ form_widget(edit_form.dateTransport) }}</td>
                    <td>{{ form_errors(edit_form.dateTransport) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.clients) }}</td>
                    <td>{{ form_widget(edit_form.clients) }}</td>
                    <td>{{ form_errors(edit_form.clients) }}</td>
                </tr>                
                <tr>
                    <td>{{ form_label(edit_form.camion) }}</td>
                    <td>{{ form_widget(edit_form.camion) }}</td>
                    <td>{{ form_errors(edit_form.camion) }}</td>
                </tr>  
                <tr class="record_actions">
                    <td>
                        <div class="btn-group" role="group" aria-label="List">
                            <input type="submit" value="Edit" class="btn btn-primary" />                        
                            <a href="{{ path('transport_index') }}" class="btn btn-primary">Back to the list</a>                                   
                        </div>   
                    </td>                    
                </tr>
            </tbody>
        </table>
    {{ form_end(edit_form) }}
{% endblock %}
