{% extends 'base.html.twig' %}

{% block body %}
    <h1>Camions list</h1>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Plaqueimm</th>
                <th>Tierce</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for camion in camions %}
            <tr>
                <td><a href="{{ path('camion_show', { 'id': camion.id }) }}">{{ camion.id }}</a></td>
                <td>{{ camion.plaqueImm }}</td>
                <td>{% if camion.tierce %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="List">
                        <a href="{{ path('camion_show', { 'id': camion.id }) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('camion_edit', { 'id': camion.id }) }}" class="btn btn-primary">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-primary" href="{{ path('camion_new') }}">Nouveau</a>
{% endblock %}
