{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table  class="table table-striped table-hove">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nomclient</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nomClient }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="List">
                        <a href="{{ path('client_show', { 'id': client.id }) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-primary">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="List">
            <a href="{{ path('client_new') }}" class="btn btn-primary">Create a new client</a>

    </div>
{% endblock %}
