{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conducteurs list</h1>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nomconducteur</th>
                <th>Permisnumero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conducteur in conducteurs %}
            <tr>
                <td><a href="{{ path('conducteur_show', { 'id': conducteur.id }) }}">{{ conducteur.id }}</a></td>
                <td>{{ conducteur.nomConducteur }}</td>
                <td>{{ conducteur.permisNumero }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="List">
                        <a href="{{ path('conducteur_show', { 'id': conducteur.id }) }}" class="btn btn-primary">show</a>                   
                        <a href="{{ path('conducteur_edit', { 'id': conducteur.id }) }}" class="btn btn-primary">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
