

{% block body %}
    <h1>Carburant edit</h1>
    <div class="modal fade" id="addCarburantModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input type="submit" value="Edit" />
                    {{ form_end(edit_form) }}
                </div>
                <div class="modal-footer">
                    <ul>
                        <li>
                            <a href="{{ path('carburant_index') }}">Back to the list</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>                  
                </div>
            </div>
        </div>
    </ div>
{% endblock %}
