{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carburant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carburant.id }}</td>
            </tr>
            <tr>
                <th>Typecarburant</th>
                <td>{{ carburant.typeCarburant }}</td>
            </tr>
            <tr>
                <th>Prixunitaire</th>
                <td>{{ carburant.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>Numcartecarburant</th>
                <td>{{ carburant.numCarteCarburant }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ carburant.fournisseur }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ carburant.total }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ carburant.qte }}</td>
            </tr>
            <tr>
                <th>Dateachat</th>
                <td>{% if carburant.dateAchat %}{{ carburant.dateAchat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carburant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carburant_edit', { 'id': carburant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
